<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="prefrences">
      <h2 data-cy="prefrencesDetailsHeading"><span jhiTranslate="twentyOnePointsApp.prefrences.detail.title">Prefrences</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ prefrences.id }}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.prefrences.weeklygoal">Weeklygoal</span></dt>
        <dd>
          <span>{{ prefrences.weeklygoal }}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.prefrences.weightunits">Weightunits</span></dt>
        <dd>
          <span jhiTranslate="{{ 'twentyOnePointsApp.units.' + prefrences.weightunits }}">{{ prefrences.weightunits }}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.prefrences.userprefrences">Userprefrences</span></dt>
        <dd>
          <span>{{ prefrences.userprefrences?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/prefrences', prefrences.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
